@import "./../../../../assets/scss/common";
.case {
  .head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    a {
      font-size: 14px;
    }
  }
  .split-line {
    position: absolute;
    top: 318px;
  }
}
