<div class="permission">
  <div [nzSpan]="12" nz-col class="permission-label">
    装修TOP项目展示范围
  </div>
  <nz-select [(ngModel)]="project" (ngModelChange)="selectProject($event)" name="project" nzAllowClear
    class="permission-select">
    <nz-option *ngFor="let source of projectList" [nzValue]="source.name" [nzLabel]="source.name"></nz-option>
  </nz-select>
  <div class="permission-btns">
    <button nz-button nzType="default" (click)="close()">关闭</button>
    <button nz-button nzType="primary" (click)="submit()">提交</button>
  </div>
</div>