<div class="master_temp_list">
  <div class="master-head">
    <rev-title [title]="title" [buttons]="buttons" [show]="true" (handleName)="handleName($event)"></rev-title>
  </div>
    <nz-table class="master-warp"
    #rowSelectionTable
    [nzData]="departTempList"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    (nzPageIndexChange)='changeData()' 
    nzSize="middle"
  >
    <thead>
      <tr>
        <th>名称</th>
        <th>编辑人</th>
        <th>编辑时间</th>
        <th >&nbsp;操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rowSelectionTable.data,let i=index">
        <td  [title]="item.name?item.name:'--'">{{item.name?item.name:'--'}}</td>
        <td  [title]="item.person?item.person:'--'">{{item.person?item.person:'--'}}</td>
        <td>{{item.createTime | date:'yy-MM-dd HH:mm'}}</td>
        <td >
          <a href="javascript:void(0)" 
       nz-popconfirm nzTitle="删除后数据无法恢复"
          nzOkText="删除" (nzOnConfirm)="delTemp(item.id)"class="ml-8" *ngIf="item.type==0">删除</a>
          <a href="javascript:void(0)" class="ml-8"(click)="default(item.id)" *ngIf="item.type==0">默认</a>
          <a href="javascript:void(0)"  class="ml-8" [routerLink]="['./../add']"
          [queryParams]="{id:btoa(item.id)}"
         >详情</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>