.product{
    //margin: 12px;
    font-size: 16px;
    &_head{
        position: relative;
        //border-bottom: 1px solid #e1e1e1;
        .product_title{
            font-size: 18px;
            white-space: nowrap;
            width: 100%;
            line-height: 64px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #666;
            a{
                font-size: 14px;
            }
        }.product_ctr{
            text-align: center;
        }
        .product_btn{
            position: absolute;
            top: 16px;
            right: 0px;
            a{
                display: inline-block;
                margin-right: 10px;
            }
            input{
                display: none;z-index: -999;
            }
        }
    }
    .product_wrap{
        text-align: center;
    }
    &_wrap{
        margin-top: 10px;
        tr th,tr td{

            // padding: 4px !important;
            max-width: 5vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
          
          }
        
        td.product_move{
            div{
                margin: 0 auto;
                span{
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    cursor: pointer;
                    margin: 0 12px;
                    i{
                        font-size: 20px;
                    }
                    &:hover{
                        color: #0a8ddf;
                    }
                }
            }
        }
    }
}
.product_inp{
    margin: 0;
    span{
        color: red;
    }
}
.product_a{
    display: inline-block;
    margin: 2.5px;
}
.meal_modal{
    .inp{
        margin-top: 10px;
        position: relative;
        .count{
            position: absolute;
            bottom: -6px;
            right: 8px;
        }
    }
    .btns {
        margin: 24px -24px -11px -24px;
        text-align: right;
        border-top: 1px solid #dedede;
        padding-top: 10px;
        button{
          margin-right: 24px;
        }
        button:first-child {
          margin-right: 8px;
        }
      }
    z-index: -1 !important;
    .upload-img{
        .worker_headImg{
            width: 120px;
            border-radius: 4px;
        }
    margin: 0 0 16px 40px;
    }
    .add-layout{
      
        .label{
            vertical-align: top;
            margin-right: 24px;
        span{
            color: red;
        }
        }
    
    }
}
