@charset "utf-8";
@import "./../../../../../assets/scss/mixin";
.master-sale{
    .select{
        margin-bottom: 16px;
        span{
            font-size:14px;
            color:rgba(0,0,0,0.65);
            margin-left: 8px;
        }
    }
    tr td {
		// max-width: 44px;
		@include compatibility(word-break, break-word);
		@include ellipsis();
	}
}
