.supplier-materialList {
    &-head {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        div{
            input{
                width: 240px;
                margin-right: 8px;
            }
        }
    }
    &-list{
        margin-top: 16px;
        tr th,tr td{
            font-size: 14px;
            max-width: 60px;
            a{
                padding-right: 4px;
            }
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
    
           }
    }
}
