<div class="master">
  <!--head section start-->
  <div class="master-head">
    <rev-title [title]="title"></rev-title>
    <div nz-row class="master-head-info mt-8">
      <div nz-row class="mt-16">
        <span class="head-title">{{name}}</span>
        <a class="head-btn" href="javascript:void(0)" (click)="openPack()" *ngIf="showBtnByStatus()">修改</a>
      </div>
      <div nz-row class="head-base mt-16">
        <!-- <div nz-col nzSpan="8" [nzTitle]="getComboNames()?getComboNames():''"
			 nzPlacement="topLeft" nz-tooltip>适用套系：{{getComboNames()?getComboNames():'--'}}</div> -->
		<div nz-col nzSpan="8" [nzTitle]="comboName?comboName:''"
		nzPlacement="topLeft" nz-tooltip>适用套系：{{comboName?comboName:'--'}}</div>
        <div nz-col nzSpan="8"
             [title]="sellingPrice?sellingPrice:0">销售价：{{(sellingPrice?sellingPrice:0)|number:'1.2'}}</div>
        <div nz-col nzSpan="8"
             [title]="supplyPrice?supplyPrice:0">供货价：{{(supplyPrice?supplyPrice:0)|number:'1.2'}}</div>
      </div>
      <div nz-row class="head-base mt-16">
        <div nz-col nzSpan="8" class="head-company" [nzTitle]="getCompanyName()?getCompanyName():''"
             nzPlacement="topLeft" nz-tooltip>参与公司：{{getCompanyName()}}</div>
        <div nz-col nzSpan="16" class="head-remark" [nzTitle]="remark?remark:''"
             nzPlacement="topLeft" nz-tooltip>备注：{{remark?remark:'暂无备注'}}</div>
      </div>
    </div>
  </div>
  <!--end head section-->
  <div class="master-line mt-24"></div>

  <!--content section start-->
  <div class="wrap" style="min-height: 960px;">
    <div nz-row class="mt-24">
      <div nz-col nzSpan="4" *ngIf="showBtnByStatus()">
        <radio-switch [radioSwitch]="radioSwitch" (handleSwitch)="handleSwitch($event)"></radio-switch>
      </div>
      <div nz-col nzSpan="20" [nzOffset]="showBtnByStatus()?0:4">
        <select-brand (handleCategory)="handleCategory($event)" (handleBrand)="handleBrand($event)"
                      (handleSearch)="handleSearch($event)" [type]="1"></select-brand>
      </div>
    </div>

    <div class="mt-24">
      <nz-table [nzData]="materials" #materialTable nzSize="small"
                [nzScroll]="{ x:'130%'}" [nzTotal]="total" [nzTitle]="header" [nzLoading]="loading"
                [(nzPageIndex)]='pageNo' [(nzPageSize)]="pageSize" [nzFrontPagination]="false"
                (nzPageIndexChange)="changeData()" [nzShowPagination]="true" nzBordered="true">
        <thead>
          <tr>
            <th nzLeft="0px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="checkAll($event)" *ngIf="showBtnByStatus()"></th>
            <th>SPU编号</th>
            <th>图片</th>
            <th>品牌</th>
            <th>类别</th>
            <th>名称</th>
            <th>SKU编号</th>
            <th>规格</th>
            <th>型号</th>
            <th>材质</th>
            <th>颜色</th>
            <th>产地</th>
            <th>单位</th>
            <th>市场价</th>
            <th>供货价</th>
            <th>销售价</th>
            <th nzRight="0px" *ngIf="showBtnByStatus()">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of materials;let i = index" [ngClass]="{'dead':m.survival === 0}">
            <td nzLeft="0px" nzShowCheckbox [(nzChecked)]="m.checked"
                (nzCheckedChange)="refreshStatus()" *ngIf="showBtnByStatus()"></td>
            <td [attr.rowspan]="m.rows" *ngIf="m.rows!==0" style="vertical-align: middle;"
                [nzTitle]="showTipOnTitle(m.spu,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.spu?m.spu:'--'}}</span></td>
            <td [attr.rowspan]="m.rows" *ngIf="m.rows!==0" style="vertical-align: middle;">
              <a *ngIf="m.defaultImage" href="javascript:void(0)" (click)="openLarge(m.defaultImage)">[图片]</a>
              <span *ngIf="!m.defaultImage">--</span>
            </td>
            <td [attr.rowspan]="m.rows" *ngIf="m.rows !==0"
                [nzTitle]="showTipOnTitle(m.brand,m.survival)" nzPlacement="topLeft" nz-tooltip
                style="vertical-align: middle;"><span>{{m.brand?m.brand:'--'}}</span></td>
            <td [attr.rowspan]="m.rows" *ngIf="m.rows!==0"
                [nzTitle]="showTipOnTitle(m.category,m.survival)" nzPlacement="topLeft" nz-tooltip
                style="vertical-align: middle;"><span>{{m.category?m.category:'--'}}</span></td>

            <td [attr.rowspan]="m.rows" *ngIf="m.rows!==0"
                [nzTitle]="showTipOnTitle(m.name,m.survival)" nzPlacement="topLeft" nz-tooltip
                style="vertical-align: middle;"><span>{{m.name?m.name:'--'}}</span></td>

            <td [nzTitle]="showTipOnTitle(m.sku,m.survival)" nzPlacement="topLeft" nz-tooltip
                style="position:relative;">
              <span>{{m.sku?m.sku:'--'}}</span>
              <span *ngIf="m.remark" [nzTitle]="m.remark"
                    style="position: absolute;left: 130px; top: 10px;" nzPlacement="top" nz-tooltip>
                            <i nz-icon type="info-circle" style="position: relative;top: -2px;"></i>
                        </span>
            </td>
            <td  [nzTitle]="showTipOnTitle(m.spec,m.survival)" nzPlacement="topLeft"
                 nz-tooltip><span>{{m.spec?m.spec:'--'}}</span></td>
            <td [nzTitle]="showTipOnTitle(m.model,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.model?m.model:'--'}}</span></td>
            <td [nzTitle]="showTipOnTitle(m.material,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.material?m.material:'--'}}</span></td>
            <td [nzTitle]="showTipOnTitle(m.color,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.color?m.color:'--'}}</span></td>
            <td [nzTitle]="showTipOnTitle(m.origin,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.origin?m.origin:'--'}}</span></td>
            <td [nzTitle]="showTipOnTitle(m.unit,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.unit?m.unit:'--'}}</span></td>
            <td [nzTitle]="showTipOnTitle(m.marketPrice,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.marketPrice?(m.marketPrice|number:'1.2'):'--'}}</span>
            </td>
            <td [nzTitle]="showTipOnTitle(m.supplyPrice,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.supplyPrice?(m.supplyPrice|number:'1.2'):'--'}}</span>
            </td>
            <td [nzTitle]="showTipOnTitle(m.sellingPrice,m.survival)" nzPlacement="topLeft"
                nz-tooltip><span>{{m.sellingPrice?(m.sellingPrice|number:'1.2'):'--'}}</span>
            </td>
            <td nzRight="0px" *ngIf="showBtnByStatus()">
              <a href="javascript:void(0)" nz-popconfirm nzTitle="确定删除该材料吗?" nzOkText="删除"
                 (nzOnConfirm)="deleteItem(m.id)" (nzOnCancel)="cancel()" nzPlacement="topLeft"
                 *ngIf="radio === 1">删除</a>
              <a href="javascript:void(0)" (click)="addItem(m.id)" *ngIf="radio === 0">添加</a>
            </td>

          </tr>
        </tbody>
      </nz-table>

    </div>

    <div class="master-shelf">
      <button nz-button [nzType]="'primary'" nz-popconfirm nzTitle="确认提交该套餐吗?" nzOkText="提交"
              (nzOnConfirm)="submitItem(pid)" (nzOnCancel)="cancel()" nzPlacement="topLeft"
              *ngIf="materials && materials.length > 0 && radio === 1 && showBtnByStatus()">
        <span>提交审核</span>
      </button>
      <button nz-button [nzType]="'primary'" nz-popconfirm nzTitle="确定撤回该套餐审核申请吗?" nzOkText="撤回"
              (nzOnConfirm)="recallItem(pid)" (nzOnCancel)="cancel()" nzPlacement="topLeft"
              *ngIf="status === 1">
        <span>撤回</span>
      </button>
      <button nz-button [nzType]="'primary'" nz-popconfirm [nzTitle]="getTitleByShelf(shelf)"
              [nzOkText]="shelf?'下架':'上架'"
              (nzOnConfirm)="shelfItem(pid,0)" (nzOnCancel)="cancel()" nzPlacement="topLeft"
              *ngIf="status === 2">
        <span>{{shelf?'下架':'上架'}}</span>
      </button>
    </div>

  </div>
  <!--end content section-->

</div>


<ng-template #header>
  <div *ngIf="showBtnByStatus()">
    <button nz-button [disabled]="selectItems.length === 0" (click)="deleteItems()"
            *ngIf="radio === 1" nzType="primary">删除
    </button>
    <button nz-button [disabled]="selectItems.length === 0" (click)="addItems()"
            *ngIf="radio === 0" nzType="primary">添加
    </button>
    <span class="ml-8" *ngIf="selectItems.length > 0">已选{{selectItems.length}}项</span>
  </div>
</ng-template>


<!--弹出框-->
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="packTitle"
          (nzOnCancel)="handleCancel()" [nzFooter]="footer">
  <form nz-form [formGroup]="validateForm">
    <!--套餐名称-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">套餐名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="packName" id="packName" placeholder="请输入套餐名称"
               maxlength="30"/>
        <nz-form-explain *ngIf="validateForm.get('packName').dirty && validateForm.get('packName').errors">
          <ng-container *ngIf="validateForm.get('packName').hasError('required')">
            请填写1~30位字符
          </ng-container>
          <ng-container *ngIf="validateForm.get('packName').hasError('minlength')">
            请填写1~30位字符
          </ng-container>
          <ng-container *ngIf="validateForm.get('packName').hasError('maxlength')">
            请填写1~30位字符
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!--材料商选择-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="company">参与公司</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select id="packSupplyId" formControlName="packSupplyId" nzPlaceHolder="请选择参与公司" nzDisabled>
          <nz-option [nzValue]="c.id" [nzLabel]="c.companyName" *ngFor="let c of companys"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('packSupplyId').dirty && validateForm.get('packSupplyId').errors">
          <ng-container *ngIf="validateForm.get('packSupplyId').hasError('required')">
            项目必选
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!--套系选择-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company">适用套系</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select id="packCombos" formControlName="packCombos" nzPlaceHolder="请选择适用套系"
                    nzMode="multiple">
          <nz-option [nzValue]="c" [nzLabel]="c.comboName" *ngFor="let c of combos"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!--单位-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company">单位</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="packUnit" id="packUnit" placeholder="请输入套餐单位"
               maxlength="10"/>
        <nz-form-explain *ngIf="validateForm.get('packUnit').dirty && validateForm.get('packUnit').errors">
          <ng-container *ngIf="validateForm.get('packUnit').hasError('maxlength')">
            请填写10位以内的字符
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!--销售价格-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company">销售价</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-number  id="packSalePrice" formControlName="packSalePrice"
                         [nzMin]="0" [nzMax]="999999" [nzStep]="0.01" [nzPlaceHolder]="'请输入销售价'"
                          style="width:100%;" [nzPrecision]="2"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <!--供货价-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="company">供货价</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-number id="packSupplyPrice" formControlName="packSupplyPrice"
                         [nzMin]="0" [nzMax]="999999" [nzStep]="0.01" [nzPlaceHolder]="'请输入销售价'"
                         style="width:100%;" [nzPrecision]="2"></nz-input-number>
        <nz-form-explain *ngIf="validateForm.get('packSupplyPrice').dirty && validateForm.get('packSupplyPrice').errors">
          <ng-container *ngIf="validateForm.get('packSupplyPrice').hasError('required')">
            项目必填
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <!--备注-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company">备注</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea formControlName="packRemark" nz-input rows="4"
                  placeholder="请输入300字以内的备注" maxlength="300"></textarea>
        <nz-form-explain *ngIf="validateForm.get('packRemark').dirty && validateForm.get('packRemark').errors">
          <ng-container *ngIf="validateForm.get('packRemark').hasError('maxLength')">
            请填写300位以内的字符
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<ng-template #footer>
  <div nz-row>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="handleOk()"
            [nzLoading]="isOkLoading">提交</button>
  </div>
</ng-template>

<!--查看图片-->
<rev-imgview [album]="_albums" [index]="0" *ngIf="_albums.length > 0"></rev-imgview>