@charset "utf-8";
.detail-list{
    .list-head{
        margin-top: 24px;
        .head-bar{
            width: 50%;
            float: left;
            a{
                display: inline-block;
                padding: 5px 30px;
                border: 1px solid #3ba4e5;
                text-decoration: none;
                margin-right: -1px;
                color: #3ba4e5;
                &.active{
                    color: #fff;
                    background: #3ba4e5;
                }
            }
        }
        .search-bar-right{
            width: 40%;
            float: right;
            .inp{
                width: 100%;
            }
        }
    }
    .list-group-rev{
        .list-items{
            width: 100%;
            float: none;
            .item-head,.item-body{
                li {
                    width: 40%;
                    &:last-child {
                        width: 20%;
                    }
                    a{
                        font-size: 14px;
                        &.del{
                            color:#f92650;
                        }
                    }
                }
            }
        }
    }
}
.design_inp{
    margin-bottom: 0;
}
.modify{
    .btns {
        margin: 24px -24px -11px -24px;
        text-align: right;
        border-top: 1px solid #dedede;
        padding-top: 10px;
        button{
          margin-right: 24px;
        }
        button:first-child {
          margin-right: 8px;
        }
      }
    ul{
        margin-top: 20px;
        label{
            width: 22% !important;
        }
    }
    
}
