<div class="offer">
    <div class="head">
        <rev-title [title]="title"></rev-title>
    </div>
    <div class="content" [@slide]="switch">
        <div class="setting">
            <form [formGroup]="modifyForm">
            <dl>
                <dt>最低报价设置</dt>
                <dd class="inp">
                    <input type="text" class="text" placeholder="请输入报价设置" name="percentage" maxlength="6"
                           formControlName="percentage" [(ngModel)]="percentage" autocomplete="off"
                           onkeyup="this.value=this.value.replace(/\D/g,'')"  [hidden]="!modify"
                           onafterpaste="this.value=this.value.replace(/\D/g,'')" [disabled]="modify"/>
                    <input type="text" class="text" [value]="percentage+'%'"
                          [hidden]="modify" [disabled]="!modify"/>
                    <a href="javascript:void(0)" class="fix" (click)="modifySetting()">{{!modify?'修改':'保存'}}</a>
                    <div [hidden]="modifyForm.get('percentage').valid || modifyForm.get('percentage').pristine" class="error">
                        <span [hidden]="!modifyForm.hasError('required',['percentage'])">必填选项</span>
                        <span [hidden]="!modifyForm.hasError('numberMin',['percentage'])">&nbsp;&nbsp;输入格式不正确</span>
                        <span [hidden]="!modifyForm.hasError('max',['percentage'])">&nbsp;&nbsp;至多输入比1000小</span>
                    </div>
                </dd>
            </dl>
            </form>
            <p>计算规则：最低报价 = 成本 x 150%</p>
        </div>
    </div>
</div>
