@charset "utf-8";
%defaultBgCss{
	background:rgba(0,0,0,0.03);
}
@mixin eclipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@mixin fontStyle {
	font-weight:400;
}
@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/**
 * 主题色控制
 */
$col_098684: #098684;
/**
 * 镂空背景色控制
 */
$col_DDF3F3:#DDF3F3;

