@charset "utf-8";
@import "./../../../assets/scss/mixin";
.com-title{
  font-size:0;
  height: 56px;
  position: relative;
  .com-name{
    color:rgba(0,0,0,0.85);
    height: 32px;
    line-height:32px;
    display: inline-block;
    vertical-align: top;
    font-size:24px;
    margin-bottom: 0;
    font-weight: 500;
    //font-family: PingFang SC;
  }
  .btns{
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 4.5px;
    .btn{
      a{
        color: white !important;
      }
      padding:3px 20px;
      letter-spacing: 2px;
      font-size: 14px;
      margin-right: 10px;
      outline: none;
      border: 0;
      cursor: pointer;
      color: #fff;
      &:last-child{
        margin-right: 0;
      }
      //&.btn-primary{
      //  @include hover(#0a8ddf);
      //}
      &.btn-default{
        @include  hover(#999)
      }
    }
  }
  .text{
      display: inline-block;
      vertical-align: top;
      position: absolute;
      right: 0;
      top: 4.5px;
      font-size: 14px;
      margin:0;
  }
}