@charset "utf-8";
@import "./../../../../assets/scss/mixin";

.contractdetail {
  .uploader {
    display: inline-block;
  }
  h3 {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
  }
  .detail-Title {
    display: flex;
    justify-content: space-between;
    span:first-child {
      font-size: 20px;
      font-weight: 500;
    }
    span {
      a {
        font-size: 14px;
      }
    }
  }
  .contract-file {
    .fileName {

      animation: show .5s;
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.43);
      }
    }
    .uploderFile {
      position: relative;
      .fileBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
      .inbox {
        font-size: 48px;
        color: rgba(24, 144, 255, 1);
      }
      margin: 24px 0 76px 0;
      height: 445px;
      border: 1px dashed #d9d9d9;
      text-align: center;
      border-radius: 4px;
      padding-top: 11%;
      transition: 0.5s;
    }

    .uploderFile:hover {
      border: 1px dashed #4497db;
    }

  }
  .contract-img {
    .imgList {
      li{
        display: inline-block;
        margin: 24px 24px 0 0;
        width: 160px;
        height: 160px;
        vertical-align: top;
        position: relative;
        overflow: hidden;
        &.show-img{
          border: 1px solid rgba(0, 0, 0, 0.1);
          opacity: 1;
          border-radius: 4px;
        }
        .showDel {
          position: absolute;
          display: inline-block;
          opacity: 0;
          width: 100%;
          height: 40px;
          background: rgba(0, 0, 0, 0.45);
          border-radius: 0px 0px 4px 4px;
          top: 130px;
          left: 0;
          transition: 0.2s;
          z-index: 1;
        }
        .del {
          position: absolute;
          bottom:0;
          opacity: 0;
          left: 50%;
          transform: translate(-50%);
          color: #dedede;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url("../../../../assets/images/del.png") no-repeat;
          @include compatibility(background-size, 100% 100%);
          @include compatibility(transition, all 0.5s);
          z-index: 2;
        }
        &:hover {
          .del,
          .showDel {
            opacity: 1;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
      }
    }
  }
  .submit {
    text-align: right;
  }
}

.meal_modal {
  .btns {
    margin: 24px 0 -10px 0;
    padding-top: 10px;
    text-align: right;
    border-top: 1px solid #dedede;
    button:first-child {
      margin-right: 8px;
    }
  }
  .inp {
    display: inline-block;
    width: 100%;
    label {
      margin-right: 24px;
    }
    input {
      width: 84% !important;
    }
  }
}

@keyframes show {
  0% {
    transform: rotate(-30%);
    opacity: 0;
  }
  100% {
    transform: rotate(-30%);
    opacity: 1;
  }
}

.large-img {
  width: 100%;
  height: 500px;
  text-align: center;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
