<div class="settle">
    <div class="head">
        <rev-title [title]="title"></rev-title>
    </div>
    <div class="content">
        <!--<rev-settle-detail-head></rev-settle-detail-head>-->
        <!--<div class="tab">-->
        <!--<a href="javascript:void(0)" class="tab-item"-->
        <!--[routerLink]="['./cost']" [queryParams]="{aid:aid,cid:cid}" [routerLinkActive]="'active'">收款情况</a>-->
        <!--<a href="javascript:void(0)" class="tab-item"-->
        <!--[routerLink]="['./record']" [queryParams]="{aid:aid,cid:cid}" [routerLinkActive]="'active'">申请记录</a>-->
        <!--</div>-->
        <!--<div class="data">-->
        <!--<router-outlet><p *ngIf="msg">{{msg}}</p></router-outlet>-->
        <!--</div>-->

        <div nz-row>
            <rev-settle-detail-head></rev-settle-detail-head>
        </div>
        <div nz-row>
            <nz-tabset [nzSelectedIndex]="index">
                <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name" (nzClick)="tabClick(tab.url)"></nz-tab>
            </nz-tabset>
            <div class="data">
                <nz-skeleton [nzLoading]="loading"></nz-skeleton>
                <div [hidden]="loading">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>

    </div>
</div>
