<div class="article">
  <div class="head">
    <rev-title [title]="title"></rev-title>
  </div>
  <div class="content" >
    <div class="detail-list">
      <div class="list-head">
        <div class="search-bar">
          <form method="post" [formGroup]="searchForm">
            <!--<select [(ngModel)]="type" class="choice" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeType()">-->
            <!--<option value="1">按客户姓名查询</option>-->
            <!--<option value="2">按手机号码查询</option>-->
            <!--</select>-->
            <!--<div class="inp">-->
            <!--<input type="text" class="text" [hidden]="type == 2" placeholder="请输入客户姓名"-->
            <!--formControlName="name" name="name" autocomplete="off" maxlength="32" [(ngModel)]="name"/>-->
            <!--<input type="text" class="text" [hidden]="type == 1" placeholder="请输入手机号码"-->
            <!--formControlName="phone" name="phone" autocomplete="off" maxlength="16" [(ngModel)]="phone"/>-->
            <!--<button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid" (click)="changeData()">查询</button>-->
            <!--</div>-->
            <div class="inp" style="width:250px;">
              <input nz-input type="text" class="text" placeholder="请输入客户姓名/手机号码" maxlength="32"
                     [(ngModel)]="searchInfo" name="searchInfo" formControlName="searchInfo"/>
              <button  nz-button nzType="primary" type="submit"  [disabled]="!searchForm.valid"
                       (click)="changeData(true)">查询</button>
            </div>
          </form>
        </div>
      </div>
      <div class="list-group-rev">
        <nz-table #nzTable [nzData]="noticeList" [nzBordered]="true" [nzFrontPagination]="false" [nzShowPagination]="false" nzSize="middle" class="tables">
          <thead nz-thead>
          <tr nzWidth='600px'>
            <th nz-th><span>客户姓名</span></th>
            <th nz-th><span>手机号</span></th>
            <th nz-th><span>地址</span></th>
            <th nz-th><span>提交时间</span></th>
            <th nz-th><span>监理</span></th>
            <th nz-th><span>紧急程度</span></th>
            <th nz-th><span>处理状态</span></th>
            <th nz-th><span>问题</span></th>
            <th nz-th><span>操作</span></th>
          </tr>
          </thead>
          <tbody nz-tbody style="font-size: 12px">
          <tr nz-tbody-tr *ngFor="let item of nzTable.data">
            <td nz-td [title]="item.customerName?item.customerName:''">{{item.customerName?item.customerName:'--'}}</td>
            <td nz-td [title]="item.customerPhone?item.customerPhone:''">{{item.customerPhone?item.customerPhone:'--'}}</td>
            <td nz-td  [title]="item.customerHouseAddress?item.customerHouseAddress:''">{{item.customerHouseAddress?item.customerHouseAddress:'--'}}</td>
            <td nz-td >{{item.createTime?(item.createTime|date:'yyyy-MM-dd HH:mm'):'--'}}</td>
            <td nz-td [title]="item.memberName?item.memberName:''">{{item.memberName?item.memberName:'--'}}</td>
            <td nz-td >
              <nz-tag [nzColor]="color(item.urgentLevel)"> {{item.urgentLevel?getUrgent(item.urgentLevel):'--'}}</nz-tag>
            </td>
            <!-- <td nz-td [ngClass]="{'bg-success':item.urgentLevel === 1,'bg-warning':item.urgentLevel === 2,'bg-error':item.urgentLevel === 3}">{{item.urgentLevel?getUrgent(item.urgentLevel):'--'}}</td> -->
            <td nz-td >{{getState(item.state)}}</td>
            <td nz-td [nzTitle]="item.info?item.info:'暂无备注信息'"
                nzPlacement="topCenter" nz-tooltip>{{item.info?item.info:'--'}}</td>


            <td nz-td >
              <a href="javascript:void(0)" [routerLink]="['./../detail/notice',8]"
                 [queryParams]="{cid:btoa(item.quoteId),nid:btoa(item.id)}">详情</a>
          </tr>
          </tbody>
        </nz-table>
        <div class="page" *ngIf="noticeList && noticeList.length > 0">
          <ng-template #totalTemplate let-total>当前第{{pageNo}}页 / 共{{total}}条数据</ng-template>
          <nz-pagination [nzSize]="'small'" [(nzPageIndex)]="pageNo" [(nzPageSize)]="pageSize" [nzTotal]="total"
                         (nzPageIndexChange)="changeData()" [nzShowTotal]="totalTemplate"></nz-pagination>
        </div>
        <!-- <div class="list-items">
            <ul class="item-head">
                <li class="w10">客户姓名</li>
                <li class="w10">手机号</li>
                <li class="w10">地址</li>
                <li class="w15">提交时间</li>
                <li class="w10">监理</li>
                <li class="w10">紧急程度</li>
                <li class="w10">处理状态</li>
                <li class="w20">问题</li>
                <li class="w5">操作</li>
            </ul>
            <div class="item-content">
                <ul class="item-body" *ngFor="let item of noticeList">
                    <li class="w10" [title]="item.customerName?item.customerName:''">{{item.customerName?item.customerName:'--'}}</li>
                    <li class="w10" [title]="item.customerPhone?item.customerPhone:''">{{item.customerPhone?item.customerPhone:'--'}}</li>
                    <li class="w10" [title]="item.customerHouseAddress?item.customerHouseAddress:''">{{item.customerHouseAddress?item.customerHouseAddress:'--'}}</li>
                    <li class="w15">{{item.createTime?(item.createTime|date:'yyyy-MM-dd HH:mm'):'--'}}</li>
                    <li class="w10" [title]="item.memberName?item.memberName:''">{{item.memberName?item.memberName:'--'}}</li>
                    <li class="w10" [ngClass]="{'bg-success':item.urgentLevel === 1,'bg-warning':item.urgentLevel === 2,'bg-error':item.urgentLevel === 3}">{{item.urgentLevel?getUrgent(item.urgentLevel):'--'}}</li>
                    <li class="w10">{{getState(item.state)}}</li>
                    <li class="w20" [nzTitle]="item.info?item.info:'暂无备注信息'"
                        nzPlacement="topCenter" nz-tooltip>{{item.info?item.info:'--'}}</li>
                    <li class="w5">
                        <a href="javascript:void(0)" [routerLink]="['./../inform/notice',4]"
                           [queryParams]="{cid:item.quoteId,nid:item.id}">详情</a>
                    </li>
                </ul>
                <ul class="item-body" *ngIf="!noticeList || (noticeList && noticeList.length == 0)">
                    <p>暂无数据信息</p>
                </ul>

            </div>
        </div> -->

      </div>

    </div>
  </div>

</div>

