.order-progress{
    font-size: 14px;
    font-weight: 400;
    .title{
        span{
            color: rgba(0, 0, 0, 0.85);
            font-weight: 500;
        }
        .time{
            color: rgba(0, 0, 0, 0.25);
            float: right;
        }
    }
    .order{
        color: rgba(0, 0, 0, 0.65);
        margin-top: 8px;
    }
    .imgs{
        margin-top: 8px;
        img{
            width: 96px;
            height: 96px;
            margin-right: 16px;
        }
    }
}
    