<div class="bind_add">
    <div class="bind_add_head">
        <h2 class="bind_add_title">添加设备</h2>
    </div>
    <div class="bind_add_wrap">
        <ul>
            <li>
                <label class="label">* 设备名称</label>
                <div class="inp">
                    <input type="text" class="com_input" placeholder="自定义，用以区分多个设备" autocomplete="off" [(ngModel)]="deviceName"
                    name="deviceName" maxlength="50"/>
                </div>
            </li>
            <li>
                <label class="label">* 设备账号</label>
                <div class="inp">
                    <input type="text" class="com_input" placeholder="由马克巴客服告知" autocomplete="off" [(ngModel)]="deviceAcc"
                           name="deviceAcc" maxlength="50"/>
                </div>
            </li>
            <li>
                <label class="label">* 设备号</label>
                <div class="inp">
                    <input type="text" class="com_input" placeholder="设备上获取" autocomplete="off" [(ngModel)]="did"
                           name="did" maxlength="50"/>
                </div>
            </li>
            <li>
                <label class="label">备注</label>
                <div class="inp">
                    <textarea class="com_input"  rows="6" placeholder="请输入需要的备注信息" autocomplete="off" maxlength="200" name="remark"  [(ngModel)]="remark"></textarea>
                    <span class="count" *ngIf="remark && remark.length > 0"><span>{{remark.length}}</span>/200</span>
                </div>
            </li>
            <li>
                <div class="btns">
                    <button type="button" class="btn btn-default" (click)="exist()">关闭</button>
                    <button type="submit" class="btn btn-primary" (click)="handleAdd()">添加</button>
                </div>
            </li>
        </ul>
    </div>
</div>

