@charset "utf-8";
.detail-list{
    .list-group-rev{
        .list-items{
            .item-head,.item-body{
                td>a{
                    padding-right: 4px;
                }
                li{
                    width: 8%;
                    &.w5{
                        width: 5%;
                    }
                    &.w10{
                        width: 10%;
                    }
                    &.w13{
                        width: 13%;
                    }
                    &:last-child{
                        border-right: 0;
                    }
                }
            }
        }
    }
}
